@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:14px; color:#626262; background:#fff;font-family: "微软雅黑";}
fieldset, img { border:0;display:block;}
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { outline:none; border:0; } 
textarea { resize:none; } 
a { color: #626262; text-decoration:none; }
a:hover { color: #328ed1; text-decoration:none; }
body,html{
	height:100%;
	width:100%;
	min-width:1280px;
}
.clearfix:after{
	content:"";
	visibility:hidden;
	height:0;
	display:block;
	clear:both;
}
.clearfix{zoom:1;} 

.fleft{float: left;}
.fright{float: right;}
.hide{
	display: none;
}
.positionR{
	position: relative;
}
.positionA{
	position: absolute;
}
.positionF{
	position: fixed;
}

.tleft{text-align: left;}
.tcenter{text-align: center;}
.tright{text-align: right;}

.mauto{margin: 0 auto;}

.cursor{
	cursor: pointer;
}

.disInline{
	display: inline-block;
}
.disBlock{
	display: block;
}
.disNone{
	display: none;
}

.borRadius{
	border-radius: 5px;
}
.borNone{
	border: 0!important;
}


.labelPopupBox{
	width: 600px;
	margin:0 auto;
	min-height: 200px;
}
.labelPopupBox ul{
	width: 600px;
}
.labelPopupBox li{
	height: 23px;
	padding: 8px 0;
	width: 12.5%;
}
.labelCheckBox{
		vertical-align: middle;
		margin:5px 6px 0 0;
		width: 13px;
		height: 13px;
}
.lableBoxText{
	display: block;
	width: 20px;
	height: 23px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 23px;
}
.boxTextBgColor_1{
	background-color: #00FF00;
}
.boxTextBgColor_2{
	background-color: #0562f7;
}
.hightLightColor{
	color: #ff002f;
}
 







